nav {
  margin: 0 auto;
  margin-top: 30px;
  width: 1200px;
  /* background-color: lightgray; */ /* 영역 확인용, 나중에 지울 예정 */
}
.nav-01,
.nav-02 {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.banner_login {
  position: absolute;
  right: 51px;
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
}

.user-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.login-button {
  color: var(--blue-basic-color);
  font-size: 20px;
  font-weight: bold;
}
.nav-02 {
  margin-top: 30px;
  width: 100%;
}
.category > a {
  margin-right: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.main-search-box {
  position: absolute;
  right: 51px;
}

.main-search {
  width: 195px;
  height: 29px;
}
